<div class="checkout-section px-4 py-0">
    <input type="hidden" id="endapi" value="<%= endApi %>">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="blog-sidebar-wrap widget-wrapper pb-20">
                    <div class="sidebar-widget-wrap">
                        <h4 class="widget-title">Add Job</h4>
                        <form id="submitForm" class="checkout-form">
                            <div class="row">
                                <div class="col-12 m-0">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label>Job Title</label>
                                            <input type="text" placeholder="Name" name="jobTitle"
                                                class="single-input-wrapper">
                                        </div>
                                    </div> <!-- /.row -->
                                </div>
                                <div class="col-12 mb-3">
                                    <label>Job Industry</label>
                                    <select id="jobtindustries" class="single-input-wrapper select2" name="industryId"
                                        style="width: 100%;">
                                        <% jobtindustries.forEach(industry=> { %>
                                            <option value="<%= industry._id  %>">
                                                <%= industry.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Category</label>
                                    <select id="categorySelect" class="single-input-wrapper select2" name="categoryId"
                                        style="width: 100%;">
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Employment Type</label>
                                    <select class="single-input-wrapper select2" multiple name="jobTypeId"
                                        style="width: 100%;">
                                        <% jobtypes.forEach(jobtype=> { %>
                                            <option value="<%= jobtype._id  %>">
                                                <%= jobtype.name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Skills</label>
                                    <select id="jobskills" multiple class="single-input-wrapper select2" name="skills"
                                        style="width: 100%;">
                                    </select>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label>Tags</label>
                                    <select id="jobTags" multiple class="single-input-wrapper select2" name="tags"
                                        style="width: 100%;">
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label>Salary</label>
                                    <div class="price__slider">
                                        <div class="price_range">
                                            <input type="text" id="amount" readonly="" name="salary"
                                                style="border:0; color:#000; font-weight:bold;">
                                            <div>
                                                <input type="checkbox" name="hideSalary" id="hideSalary">
                                                <label for="hideSalary" class=" m-0">Hide Salary</label>
                                            </div>
                                        </div>
                                        <div id="slider-range"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label>Salary Range</label>
                                    <select class="single-input-wrapper" name="salaryRange" style="width: 100%;">
                                        <option value="Monthly">Monthly</option>
                                        <option value="Yearly">Yearly</option>
                                        <option value="Weekly">Weekly</option>
                                        <option value="Daily">Daily</option>
                                        <option value="Hourly">Hourly</option>
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label>Job Experience</label>
                                    <select class="single-input-wrapper" name="experience" style="width: 100%;">
                                        <% for( let i=1; i <=10; ++i ) { %>
                                            <option value="<%= i %>">
                                                <%= i %> year
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label>Job Openings</label>
                                    <select class="single-input-wrapper" name="openings" style="width: 100%;">
                                        <% for( let i=1; i <=15; ++i ) { %>
                                            <option value="<%= i %>">
                                                <%= i %> year
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                                <div class="col-lg-6 mb-3">
                                    <label>Job Degree</label>
                                    <select id="jobDegree" class="single-input-wrapper select2" name="degreeId"
                                        style="width: 100%;">
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label>Post Date</label>
                                    <input type="date" name="postDate" class="single-input-wrapper">
                                </div>
                                <div class="col-lg-6">
                                    <label>Expire Date</label>
                                    <input type="date" name="expireDate" class="single-input-wrapper">
                                </div>
                                <div class="col-12">
                                    <label>Short Description</label>
                                    <textarea placeholder="description" id="description" name="shortDesc"
                                        spellcheck="false"></textarea>
                                </div>
                                <div class="col-12 mb-3">
                                    <label>Content</label>
                                    <textarea placeholder="description" id="summernote" name="desc"
                                        spellcheck="false"></textarea>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <label>Status</label>
                                    <select class="single-input-wrapper" name="status" style="width: 100%;">
                                        <option value="true"> Active </option>
                                        <option value="false"> Inactive </option>
                                    </select>
                                </div>
                                <div class="col-12 signup-form">
                                    <div class="submit-btn">
                                        <Button id="submitFormBtn" type="submit"
                                            class="signup-btn btn-1">Submit</Button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>