<div class="checkout-section pt-150 pt-lg-120 pb-130 pb-lg-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="order-confirm-sheet mb-50">
                    <div class="cart-total-section d-flex gap-3 align-items-center">
                        <div style="width: 150px;height: 150px;">
                            <img src="/uploads/logo/<%= user.image %>" class="img-fluid" alt="<%= user.companyName %>"
                                style="width: 150px;height: 150px;border-radius: 50%;">
                        </div>
                        <div class="d-flex flex-column gap-1">
                            <h3 class="m-0">
                                <%= user.companyName %>
                                    <%# user.name %>
                            </h3>
                            <span>Member Since
                                <% const memberSince=new Date(user.createdAt).toLocaleDateString() %>
                                    <%= memberSince %>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="order-confirm-sheet mb-50">
                    <div class="cart-total-section d-flex gap-3 align-items-center">
                        <table class="cart-total-table">
                            <tbody>
                                <tr class='border-bottom-0'>
                                    <th>
                                        <a href="/recruiter/profile" class="text-dark">
                                            <i class="fa-solid fa-user me-2"></i>
                                            Profile
                                        </a>
                                    </th>
                                </tr>
                                <tr class='border-bottom-0'>
                                    <th>
                                        <a href="/recruiter/profile/dashboard" class="text-dark">
                                            <i class="fa-solid fa-house me-2"></i>
                                            Dashboard
                                        </a>
                                    </th>
                                </tr>
                                <tr class='border-bottom-0'>
                                    <th>
                                        <a href="/recruiter/profile/jobs" class="text-dark">
                                            <i class="fa-solid fa-suitcase me-2"></i>
                                            Jobs
                                        </a>
                                    </th>
                                </tr>
                                <tr class='border-bottom-0'>
                                    <th>
                                        <a href="/recruiter/profile/settings" class="text-dark">
                                            <i class="fa-solid fa-screwdriver-wrench me-2"></i>
                                            Settings
                                        </a>
                                    </th>
                                </tr>
                                <tr class='border-bottom-0'>
                                    <th>
                                        <a href="/logout" class="text-dark">
                                            <i class="fa-solid fa-right-from-bracket me-2"></i>
                                            Logout
                                        </a>
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <%- include(profilelayout,{ locals: { user }, margin:false, padding:false,profile:false }) %>
            </div>
        </div>
    </div>
</div>