<div class="checkout-section <%= padding ? 'pt-150 pt-lg-120 pb-130 pb-lg-70' : 'px-4 py-0' %>">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-3 ms-auto signup-form">
                <div class="submit-btn">
                    <!-- <button id="addJobs" type="submit" class="signup-btn btn-1" data-bs-toggle="modal"
                        data-bs-target="#openJobsmodal">Add</button> -->
                    <a href="/recruiter/add/job" class="signup-btn btn-1 text-center">Add</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 cart-list-form">
                <div class="table-responsive">
                    <table class="table">
                        <tbody id="table-grid">
                            <% jobs.collectionData?.forEach(job=> { %>
                                <tr>
                                    <td class="product-info d-flex justify-content-between">
                                        <div>
                                            <a href="<%= job._id %>" class="product-name" target="_blank">
                                                <%= job.jobTitle %>
                                            </a>
                                            <ul class="style-none">
                                                <li class="size">
                                                    Exprie on <%= job.expireDate %>
                                                </li>
                                                <li>
                                                    <span class="badge rounded-pill <%= job.status ? 'text-bg-success' :'text-bg-danger' %>">
                                                        <%= job.status ? 'Active' :'InActive' %>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <a href="/recruiter/update/job/<%= job._id %>" class="btn btn-dark bg-transparent projectedit">
                                                <i class="fa-solid fa-edit text-dark"></i>
                                            </a>

                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-danger"
                                                data-id="<%= job._id %>"
                                                class="btn btn-dark bg-transparent danger-modal">
                                                <i class="fa-solid fa-trash text-dark" data-id="<%= job._id %>"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <!-- pagination -->
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/deleteObjectModal') %>