<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <h1 class="mb-2">Degree</h1>
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                    <li class="breadcrumb-item active">Degree</li>
                </ol>
            </div>
            <div class="col-md-6 align-content-center">
                <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#modal">
                    Add
                </button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable" class="table table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Degree</th>
                                    <th>Is Visible</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody id="table-grid">
                                <% degrees?.forEach((degree,i)=> { %>
                                    <tr class="table-row">
                                        <td>
                                            <%= i + 1 %>
                                        </td>
                                        <td>
                                            <%= degree.name %>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" data-id="<%= degree._id %>"
                                                    class="status rowId" <%=degree.status ? 'checked' :'' %> >
                                                <span class="slider"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <div class="d-flex gap-2">
                                                <button type="button" data-id="<%= degree._id %>"
                                                    class="btn btn-success btn-default edit" data-bs-toggle="modal"
                                                    data-bs-target="#modal">
                                                    <i class="fa-solid fa-pen-to-square"
                                                        data-id="<%= degree._id %>"></i>
                                                </button>
                                                <button type="button" data-bs-toggle="modal"
                                                    data-bs-target="#modal-danger" data-id="<%= degree._id %>"
                                                    class="btn btn-danger btn-default m-0 danger-modal rowId">
                                                    <i class="fa-solid fa-trash" data-id="<%= degree._id %>"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<input type="hidden" id="endapi" value="<%= endApi %>">
<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="exampleModalLabel">Degree</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="submitForm" class="form">
                    <div class="inputForm">
                        <input placeholder="Enter Degree Level" name="name" id="TextINput" class="input" type="text">
                    </div>
                    <button id="submitFormBtn" type="submit" class="button-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>