<figure class="product__wrapper white-bg mb-45">
    <div class="product-thumb">
        <% if (profile.showAddListIcon) { %>
            <div class="action-btn">
                <a href="/profile/saved/<%= profile._id %>"><i class="fa-regular fa-heart"></i></a>
            </div>
            <% } %>
    </div>
    <figcaption class="figure-caption">
        <div class="d-flex justify-content-between w-100">
            <div>
                <div class="product-tag">
                    <%= profile.category?.name %>
                </div>
                <h4 class="mb-2">
                    <a class="product__title " href="/profile/details/<%= encodeURIComponent(profile.profileTitle) %>">
                        <%= profile.profileTitle %>
                    </a>
                </h4>
            </div>
            <img src="/uploads/logo/<%= profile.companylogo %>" class="figure-img m-0" title="<%=  profile.companyName %>"
                alt="<%=  profile.companyName %>" style="width: 80px; height: 80px; border-radius: 50%;">
        </div>
        <ul class="d-flex gap-2 p-0" style="list-style: none;">
            <li>
                <i class="fa-solid fa-briefcase me-2"></i>
                <span>0 - <%= profile.experience %> year</span>
            </li>
            <li>
                |
            </li>
            <li>
                <i class="fa-solid fa-location-dot me-2"></i>
                <span>
                    <%= getState(profile.state,profile.country).name %>
                </span>
            </li>
        </ul>
        <div class="price">
            <p class="old-price" style="line-height: 20px;">
                <%= profile.shortDesc.slice(0,200) + '...' %>
            </p>
        </div>
        <a class="cart-btn" href="/candidate/details/<%= encodeURIComponent(profile.profileTitle) %>"><i class="bi bi-cart2"></i>
            view profile
        </a>
    </figcaption>
</figure>