<div class="checkout-section <%= padding ? 'pt-150 pt-lg-120 pb-130 pb-lg-70' : 'px-4 py-0' %>">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-3 ms-auto signup-form">
                <div class="submit-btn">
                    <button id="addproject" type="submit" class="signup-btn btn-1" data-bs-toggle="modal"
                        data-bs-target="#openprojectmodal">Add</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 cart-list-form">
                <div class="table-responsive">
                    <table class="table">
                        <tbody id="table-grid">
                            <% projects.collectionData?.forEach(project=> { %>
                                <tr>
                                    <td class="product-info d-flex justify-content-between">
                                        <div>
                                            <a href="<%= project.url %>" class="product-name" target="_blank">
                                                <%= project.name %>
                                            </a>
                                            <ul class="style-none">
                                                <% const months=[ "January" , "February" , "March" , "April" , "May"
                                                    , "June" , "July" , "August" , "September" , "October" , "November"
                                                    , "December" ] %>
                                                    <li class="size">
                                                        <%= months[project.project_duration?.start.month] %>,<%=
                                                                project.project_duration?.start.year %> - <%=
                                                                    months[project.project_duration?.end.month] %>,<%=
                                                                        project.project_duration?.end.year %>
                                                    </li>
                                            </ul>
                                        </div>
                                        <div class="d-flex align-items-center gap-2">
                                            <button type="button" data-bs-toggle="modal"
                                                data-bs-target="#openprojectmodal" data-id="<%= project._id %>"
                                                class="btn btn-dark bg-transparent projectedit">
                                                <i class="fa-solid fa-edit text-dark" data-id="<%= project._id %>"></i>
                                            </button>
                                            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-danger"
                                                data-id="<%= project._id %>"
                                                class="btn btn-dark bg-transparent danger-modal">
                                                <i class="fa-solid fa-trash text-dark" data-id="<%= project._id %>"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                        <div class="col-lg-12">
                            <% if (projects.totalPages && projects.totalDocs> projects.limit ) { %>
                                <div class="page-pagination justify-content-lg-start justify-content-center">
                                    <% for( let i=1; i <=projects.totalDocs; ++i ) { %>
                                        <a class="<%= projects.page == i ?'active':'' %>"
                                            href="/profile/<%= user.name %>/projects?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                        <% } %>
                                </div>
                                <% } %>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="endapi" value="<%= endApi %>">
<div class="modal fade" id="openprojectmodal" tabindex="-1" aria-labelledby="openprojectmodal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-5">
            <form id="submitForm" class="checkout-form">
                <h2 id="projecthead">Project</h2>
                <div class="row">
                    <div class="col-lg-6">
                        <label>Project Name</label>
                        <input type="text" placeholder="Email Project Name" id="project_name" name="name"
                            class="single-input-wrapper">
                    </div>
                    <div class="col-lg-6">
                        <label>Project URL</label>
                        <input type="url" placeholder="Enter Project Url" id="project_url" name="url"
                            class="single-input-wrapper">
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Start Month</label>
                                <select class="single-input-wrapper" id="project_startMonth" name="startmonth"
                                    style="width: 100%;">
                                    <% for( let i=1; i <=12; ++i ) { %>
                                        <option value="<%= i %>">
                                            <%= i %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Start year</label>
                                <select class="single-input-wrapper" id="project_startyear" name="startyear"
                                    style="width: 100%;">
                                    <% for( let i=0; i <=50; ++i ) { %>
                                        <option value="<%= i >= 10 ? `20${i}`:`200${i}` %>">
                                            <%= i>= 10 ? `20${i}`:`200${i}` %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>End Month</label>
                                <select class="single-input-wrapper" id="project_endMonth" name="endmonth"
                                    style="width: 100%;">
                                    <% for( let i=1; i <=12; ++i ) { %>
                                        <option value="<%= i %>">
                                            <%= i %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>End Year</label>
                                <select class="single-input-wrapper" id="project_endyear" name="endyear"
                                    style="width: 100%;">
                                    <% for( let i=0; i <=50; ++i ) { %>
                                        <option value="<%= i >= 10 ? `20${i}`:`200${i}` %>">
                                            <%= i>= 10 ? `20${i}`:`200${i}` %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <label>Skills</label>
                        <select id="jobskills" multiple class="select2" name="skills" style="width: 100%;">
                        </select>
                    </div>
                    <div class="col-12 other-note-area">
                        <label>Description</label>
                        <textarea placeholder="description" id="description" name="desc" spellcheck="false"></textarea>
                    </div>
                    <div class="col signup-form">
                        <div class="submit-btn">
                            <Button id="submitFormBtn" type="submit" class="signup-btn btn-1">Submit</Button>
                        </div>
                    </div> <!-- /.row -->
                </div> <!-- /.user-profile-data -->
        </div>
    </div>
    </form>
</div>
<%- include('../partials/deleteObjectModal') %>